#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
}

.navbar img {
  height: 2rem;
  width: 2rem;
}

.navbar button {
  min-height: 2rem;
  background-color: inherit;
}

.card {
  padding: 2em;
}